<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encontrar séries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h3 text-center>Todas séries</h3>

  <form [formGroup]="searchForm">
    <ion-item>
      <ion-label color="primary">Buscar</ion-label>
      <ion-input formControlName="search" name="search" placeholder="busque pelo nome"></ion-input>
    </ion-item>
  </form>

  <ion-card *ngFor="let r of searchResults">
    <ion-card-title style='padding-left: 16px;'>
      {{r.name}}
    </ion-card-title>

    <ion-card-content>
      <img [src]="getPosterPath(r)" alt="" class='search-image' width="185px" />
      <p>{{r.overview}}</p>

      <ion-buttons end>
        <button ion-button small icon-start (click)="openAddModal(r.id)">
          <ion-icon name="add"></ion-icon>
          Adicionar
        </button>
      </ion-buttons>
    </ion-card-content>

  </ion-card>
  <br><br>

  <hr>
  <div id='most-popular'>
    <h3 text-center>Mais populares</h3>
    
    <div text-center [hidden]="popular.list !== false">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <span [hidden]="popular.list === false">
      <ion-card *ngFor="let r of popular.list">
        <ion-card-title style='padding-left: 16px;'>
          {{r.name}}
        </ion-card-title>

        <ion-card-content>
          <img [src]="getPosterPath(r)" alt="" class='search-image' width="185px" />
          <p>{{r.overview}}</p>

          <ion-buttons end>
            <button ion-button small icon-start (click)="openAddModal(r.id)">
              <ion-icon name="add"></ion-icon>
              Adicionar
            </button>
          </ion-buttons>
        </ion-card-content>

      </ion-card>
    </span>

    <div [hidden]="!popular.showLoadMore">
      <button ion-button block (click)="popularNextPage()">
        Ver mais
      </button>
    </div>

  </div>

</ion-content>