page-add {
	.seasson-box {
		width: 100%;
		background: #bfd9ff;
		text-align: center;
		padding: 10px;
	}
	.seasson-selected {
		background: #073579;
		color: white;
	}
	.footer {
		background: white;
		opacity: 0.8;
	}

}