<ion-content>
    <div 
        class='image-box cover-background' 
        [style.background]="getBackgroundConfig()"></div>
    
    <div class="title-box">
        <div>{{ showData.name }}</div>
    </div>
    
    <br>

    <span *ngIf="loading">
        <div text-center>
            <ion-spinner name="dots"></ion-spinner>
        </div>
    </span>
    <span  *ngIf="!loading">
        <div class="content-box">
            {{ overview }}
            <span *ngIf="overviewShowMoreButton">
                <button (click)="expandOverview()">Ver Mais</button>
            </span>

    <!--         <ul>
                <li>Temporadas: {{showData.number_of_seasons}}</li>
                <li>Epsódios: {{showData.number_of_episodes}}</li>
            </ul> -->
        </div>
        <!-- <br> -->
        <hr>

        <h5 text-center>Temporadas já assistidas</h5>
        <ion-row>
            <ion-col *ngFor="let s of seassons" style="padding: 0px;">
                <div 
                    class='seasson-box' 
                    [ngClass]="{'seasson-selected':selectedSeason >= s}"
                    (click)="numSeassonChange(s)">
                    
                    {{s+1}}º
                </div>
            </ion-col>
        </ion-row>
    </span>

</ion-content>


<ion-footer>
    <ion-row>
        <ion-col>
            <button ion-button block clear (click)="dismiss()">Cancelar</button>
        </ion-col>
        <ion-col>
            <button ion-button block 
                (click)="addShow()" 
                [disabled]="selectedSeason === -1">Feito</button>
        </ion-col>
    </ion-row>
</ion-footer>
