<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encontrar séries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- busca pelo nome -->
  <ion-toolbar color="primary">
    <br>
    <ion-searchbar placeholder="Buscar pelo nome..."
      [animated]=true
      [(ngModel)]="searchTerm"
      (ionInput)="searchChange($event)">
    </ion-searchbar>
    <br>
  </ion-toolbar>

  <!-- lista resultados busca pelo nome -->
  <span [hidden]="!searchResults || searchResults.length <= 0">
    <h3 text-center>Resultados encontrados</h3>
    <ion-row>
      <ion-col col-6 col-sm-4 col-md-3 col-lg-2 *ngFor="let r of searchResults">
        <ion-item text-center text-wrap>
          <div class="title">
            {{r.name}}
          </div>
          <img [src]="getPosterPath(r)" alt=""/>
          <ion-buttons>
            <button [hidden]="r.isAdded" ion-button small icon-start (click)="openAddModal(r.id)">
              <!-- <ion-icon name="add"></ion-icon> -->
              Adicionar
            </button>
            <button [hidden]="!r.isAdded" ion-button small clear icon-start (click)="removeShow(r.id)">
              <!-- <ion-icon name="trash"></ion-icon> -->
              Remover
            </button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </span>

  <br>
  <hr>

  <!-- lista mais populares -->
  <div id='most-popular'>
    <h3 text-center>Mais populares</h3>
    
    <div text-center [hidden]="popular.list !== false">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <span [hidden]="popular.list === false">
      <ion-row>
        <ion-col col-6 col-sm-4 col-md-3 col-lg-2 *ngFor="let r of popular.list">
          <ion-item text-center text-wrap>
            <div class="title">
              {{r.name}}
            </div>
            <img [src]="getPosterPath(r)" alt=""/>
            <ion-buttons>
              <button [hidden]="r.isAdded" ion-button small icon-start (click)="openAddModal(r.id)">
                <!-- <ion-icon name="add"></ion-icon> -->
                Adicionar
              </button>
              <button [hidden]="!r.isAdded" ion-button small clear icon-start (click)="removeShow(r.id)">
                <!-- <ion-icon name="trash"></ion-icon> -->
                Remover
              </button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </span>

    <ion-infinite-scroll 
      [enabled]="popular.showLoadMore" 
      (ionInfinite)="popularNextPage($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

<!--     <div [hidden]="!popular.showLoadMore">
      <button ion-button block (click)="popularNextPage()">
        Ver mais
      </button>
    </div> -->

  </div>

</ion-content>