<ion-content>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encontrar séries</ion-title>
  </ion-navbar>

  <!-- busca pelo nome -->
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Buscar pelo nome..."
      [animated]=true
      [(ngModel)]="searchTerm"
      (ionInput)="searchChange($event)">
    </ion-searchbar>
    <br>
  </ion-toolbar>

  <!-- lista resultados busca pelo nome -->
  <ion-card *ngFor="let r of searchResults">
    <ion-card-title style='padding-left: 16px;'>
      {{r.name}}
    </ion-card-title>

    <ion-card-content>
      <img [src]="getPosterPath(r)" alt="" class='search-image' width="185px" />
      <p>{{r.overview}}</p>

      <ion-buttons end>
        <button [hidden]="isAdded(r.id)" ion-button small icon-start (click)="openAddModal(r.id)">
          <ion-icon name="add"></ion-icon>
          Adicionar
        </button>
        <button [hidden]="!isAdded(r.id)" ion-button small clear icon-start (click)="removeShow(r.id)">
          <ion-icon name="trash"></ion-icon>
          Remover
        </button>
      </ion-buttons>
    </ion-card-content>

  </ion-card>
  <br><br>

  <hr>

  <!-- lista mais populares -->
  <div id='most-popular'>
    <h3 text-center>Mais populares</h3>
    
    <div text-center [hidden]="popular.list !== false">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <span [hidden]="popular.list === false">
      <ion-card *ngFor="let r of popular.list">
        <ion-card-title style='padding-left: 16px;'>
          {{r.name}}
        </ion-card-title>

        <ion-card-content>
          <img [src]="getPosterPath(r)" alt="" class='search-image' width="185px" />
          <p>{{r.overview}}</p>

          <ion-buttons end>
            <button [hidden]="isAdded(r.id)" ion-button small icon-start (click)="openAddModal(r.id)">
              <ion-icon name="add"></ion-icon>
              Adicionar
            </button>
            <button [hidden]="!isAdded(r.id)" ion-button small clear icon-start (click)="removeShow(r.id)">
              <ion-icon name="trash"></ion-icon>
              Remover
            </button>
          </ion-buttons>
        </ion-card-content>

      </ion-card>
    </span>

    <div [hidden]="!popular.showLoadMore">
      <button ion-button block (click)="popularNextPage()">
        Ver mais
      </button>
    </div>

  </div>

</ion-content>