<!-- busca pelo nome -->
<ion-toolbar color="dark">
  <ion-searchbar placeholder="Buscar pelo nome..."
    [animated]=true
    [(ngModel)]="searchTerm"
    (ionInput)="searchChange($event)">
  </ion-searchbar>
</ion-toolbar>

<ion-content>
  
  <br><br>
  <!-- lista resultados busca pelo nome -->
  <span [hidden]="!searchResults || searchResults.length <= 0" class='results-list'>
    <br>
    <h3 text-center>Resultados encontrados</h3>
    <ion-row>
      <ion-col col-4 col-sm-4 col-md-3 col-lg-2 *ngFor="let r of searchResults">
        <ion-item text-center text-wrap 
          (click)="addToggle(r)">
          <div class="title">
            {{r.name}}
          </div>
          <img [src]="getPosterPath(r)" [ngClass]="{'added':r.isAdded}"/>
          <div *ngIf="r.isAdded" class="message-box">
            Adicionado
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </span>

  <br>
  <hr>

  <!-- lista mais populares -->
  <div id='most-popular'>
    <h3 text-center>Mais populares</h3>
    
    <div text-center [hidden]="popular.list !== false">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <span [hidden]="popular.list === false">
      <ion-row>
        <ion-col col-6 col-sm-4 col-md-3 col-lg-2 *ngFor="let r of popular.list">
          <ion-item text-center text-wrap 
            (click)="addToggle(r)">
            <div class="title">
              {{r.name}}
            </div>
            <img [src]="getPosterPath(r)" [ngClass]="{'added':r.isAdded}"/>
            <div *ngIf="r.isAdded" class="message-box">
              Adicionado
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </span>

    <ion-infinite-scroll 
      [enabled]="popular.showLoadMore" 
      (ionInfinite)="popularNextPage($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

<!--     <div [hidden]="!popular.showLoadMore">
      <button ion-button block (click)="popularNextPage()">
        Ver mais
      </button>
    </div> -->

  </div>

</ion-content>