page-detail {
	.season-title {
		font-size: 20px;
		font-weight: bold;
	}
	.seasson-box {
		float: left;
		// display: inline-block!important;
		// width: 20px;
		// height: 20px;
		background: #bfd9ff;
		text-align: center;
		// padding: 10px;
	}
	.seasson-selected {
		background: #073579;
		color: white;
	}
}