<ion-header>
  <ion-navbar color='dark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <span *ngIf="data == null">
        <br><br>
        <div text-center>
            <ion-spinner name="dots"></ion-spinner>
        </div>
    </span>
    <span *ngIf="data !== null">
        <h3 text-center>{{ data.name }}</h3>
        <hr>
        <div *ngIf="next_episode_on_air">
            <h5 text-center class='opaque'>
                Próximo para assistir
            </h5>
            <ion-card>
                <ion-row>
                    <ion-col col-4>
                        <img [src]="next_episode_on_air.image" alt="">
                    </ion-col>
                    <ion-col>
                            <b>{{next_episode_on_air.label}} - {{next_episode_on_air.name}}</b>
                            <br>
                            {{next_episode_on_air.air_date | date:'dd/MM/yyyy'}}
                    </ion-col>
                </ion-row>            
            </ion-card>
        </div>
        <div *ngIf="next_episode_on_air">
            <h5 text-center class='opaque'>
                Próximo a ser transmitido
            </h5>
            <ion-card>
                <ion-row>
                    <ion-col col-4>
                        <img [src]="next_episode_on_air.image" alt="">
                    </ion-col>
                    <ion-col>
                            <b>{{next_episode_on_air.label}} - {{next_episode_on_air.name}}</b>
                            <br>
                            {{next_episode_on_air.air_date | date:'dd/MM/yyyy'}}
                    </ion-col>
                </ion-row>            
            </ion-card>
        </div>

        <hr>
        <ion-row>
            <ion-col col-4 col-sm-3 col-md-2 col-lg-2 *ngFor="let s of data.seasons;" class="season-col">
                <div class="season-box cover-background"
                    [style.background]="s.background">
                    <div class='season-title'>
                        {{ s.season_number ? s.season_number + 'º' : '*' }}
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </span>
</ion-content>