<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <span *ngIf="data == null">
        <br><br>
        <div text-center>
            <ion-spinner name="dots"></ion-spinner>
        </div>
    </span>
    <span *ngIf="data !== null">
        <h3 text-center>{{ data.name }}</h3>
        <ion-item *ngFor="let s of data.seasons; let i=index">
            <ion-row>
                <ion-col col-2>
                    <img [src]="getPosterPath(s)" />
                </ion-col>
                <ion-col>
                    <div class='season-title'>
                        {{ s.season_number }}º temporada
                    </div>
                    <div *ngIf="s.episode_count === 0">
                        <small>(Em breve {{s.air_date | date: 'dd/MM/yyyy'}})</small>
                    </div>
                    <!-- {{ s.episode_count }} episódios<br> -->
                    <div *ngFor="let e of episodes[i]; let j=index" style="padding: 0px;">
                        <div 
                            class='seasson-box' 
                            [ngClass]="{'seasson-selected':e.watched}"
                            (click)="numSeasonChange(e.published, s.season_number, episodes[i].length-j)">

<!--                             <ion-row *ngIf="i === last_season_index">
                                <ion-col col-3>
                                    {{ ("0"+(episodes[i].length-j)).slice(-2) }}
                                </ion-col>
                                <ion-col text-right>
                                    <span *ngIf="e.published === false">
                                        <small>
                                            Em {{ e.air_date | date: 'dd/MM/yyyy' }}
                                        </small>
                                    </span>
                                </ion-col>
                            </ion-row> -->

<!-- 
                            <span *ngIf="i === last_season_index">
                                *{{ ("0"+(episodes[i].length-j)).slice(-2) }}
                            </span> -->

                            <!-- <span *ngIf="i !== last_season_index"> -->
                                {{ ("0"+(episodes[i].length-j)).slice(-2) }}
                            <!-- </span> -->

                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </span>
</ion-content>